@charset "UTF-8";

/*===============================================
/
/       ルート情報ファイル
/
================================================*/

:root{
    --main-text: #C12E00;
    --sub-text: #761E03;
    --btn-bg: #FFB72C;
}


/*=============================================================
/
/           containerのmax-widthを1200pxに設定
/
===============================================================*/

.container{
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 50px auto 0;
}

/*=============================================================
/
/           トップページ
/
===============================================================*/

h1 img{
    margin: 1.5rem;
    margin-top: 4.5rem;
    max-width: 1200px;
    max-height: 1000px;
    width: 35vh;
}


.title_text{
    color: var(--main-text);
    font-size:min(4vw,30px);    
}



#menu-btn{
    margin-top: 4vh;
    margin-bottom: 4vh;
    display:flex;
    flex-flow: column;
}

input[type=button]{
    width: 17rem;
    height: 4rem;
    margin: 3vh auto;
    font-size: 1.3rem;
    color: var(--sub-text);
    background-color: var(--btn-bg);
    border-radius: 24px;
    box-shadow: 2px 3px 1px rgba(118,30,3, 0.7);
}

input[type=button]:hover{
    box-shadow: none;
    transform: translateY(3px);
    color: var(--btn-bg);
    background-color: var(--sub-text);
}




footer p{
    color: var(--sub-text);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 10px;
}


/*=====================================================
/
/           モーダルウィンドウCSS
/
=======================================================*/


#tp_modal{         /*  モーダルの外側  */
    display: none;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}  

#tp_modal_contents{      /*  モーダルの内側  */
    z-index: 4;
    background-color: var(--btn-bg);
    border-radius: 24px;
    margin: 0 auto;
    max-width: 80vh;
    width: 75%;
    height: 70vh;

    /*          中央ぞろえ       */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#tp_modal_pic{
    max-width: 43vh;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 1vw;
    padding-top: 6vh;
}

#tp_modal_contents h2{
    font-size: min(5vw,42px);
    padding-bottom: 1.5vh;
}

#tp_modal_text{
    width: 80%;
    margin: 0 auto;
    margin-top: 1.2rem;
    font-size: min(3.5vw, 36px);
}

.tp_modal_closebtn{
    content: "";
    width: 25px;
    height: 25px;
    margin-left: 0 0 0 auto;
    display: flex;
    justify-content: flex-end;
}

.tp_modal_closebtn::before{
    content: "";
    width: 2.5rem;
    height: .25rem;
    background-color: var(--sub-text);
    position: absolute;
    top: 35px;
    right: 15px;
    transform: rotate(45deg);
    cursor: pointer;
    border-radius: 16px;
}


.tp_modal_closebtn::after{
    content: "";
    width: 2.5rem;
    height: .25rem;
    background-color: var(--sub-text);
    position: absolute;
    top: 35px;
    right: 15px;
    transform: rotate(-45deg);
    cursor: pointer;
    border-radius: 16px;
}
